h2 {
    color: white;
    background-color: blue;
}

.big-image {
    height: 300px;
    border-style: solid;
    border-color: blue;
    border-width: 10px;
}

.small-image {
    height: 200px;
    box-shadow: 10px 10px grey;
}

.team-member-image{
    height: 250px;
    cursor: zoom-in;
    box-shadow: 10px 10px grey;
    margin-bottom: 40px;
}

.crew-image{
    width: 70%;
    cursor: zoom-i;
    box-shadow: 10px 10px grey;
    margin-bottom: 50px;
}

.crew-title{
    text-shadow: 5px 5px gainsboro;
    font-weight: bold;
    display: block;
    padding-top: 30px;
    font-size: 4vw;
}

.crew-info-box{
    font-size: 2.5vw;
}

.all-students{
    width: 40px;
    cursor: zoom-in;
    display: inline;
}

.major-link{
    color: magenta;
    font-size:30px;
    text-decoration: none;
    cursor: zoom-in;
}

td{padding:30px;}
a{color: red;}
